@page "/credits"

<h1>Crédits</h1>

<p>Projet réalisé pour le module C# en 2ème année de Bachelor Informatique (2021/2022) pour l'école Nantes Ynov Campus.</p>
<ul>
    <li>C#</li>
    <li>Blazor Web Assembly</li>
    <li>.NET</li>
    <li>HTML/CSS</li>
</ul>
<p>Ce projet a été réalisé par Olivia MOREAU. </p>
<a href="https://www.tetris.com" target="_blank">Lien vers le jeu original</a>
