td{
    border:solid 1px black;
    padding:10px;
}

.pieceOn{
    background-color:black;
}

.pieceTest{
    background-color:yellow;
}

.game{
    display:flex;
    align-items:center;
}

.params{
    margin:20px;
}
button{
    margin:3px;
}
