@page "/game"
@using TetrisApp.Models
@using TetrisApp.Data

<h1>TETRIS</h1>

<table>
    @for(int i = 0;i<@option.height;i++){
        <tr>
            @for(int j=0;j<@option.width;j++){
                @if((@grille.grid[i,j])==1){
                <td class="pieceOn"></td>
                }
                else if(@grille.grid[i,j]==2){
                    <td class="pieceTest"></td>
                }
                else{
                <td></td>
                }
            }
        </tr>
    }
    </table>
<button class="btn btn-primary" @onclick="Piece">Click me</button>
<button class="btn btn-primary" @onclick="Supp">SUPPRIMER</button>
<button class="btn btn-primary" @onclick="Rotate">ROTATE</button>
<button class="btn btn-primary" @onclick="MoveRight">DROITE</button>
<button class="btn btn-primary" @onclick="MoveLeft">GAUCHE</button>



@code {
   Options option = new Options();
    Piece piece = new Piece();
    Grid grille = new Grid();
    @* Game jeu = new Game(); *@

    static private int hauteur = 20;
    static private int largeur = 10;
    private int[,] grid = new int[hauteur, largeur];
    private void Piece()
    {
        grille.AddPiece(piece);
    }

    private void Supp(){
        grille.RemoveLines();
    }

    private void MoveRight(){
        piece.MoveToRight();
        grille.AddPiece(piece);
        Console.WriteLine("Je veux bouger ma pièce à droite");
    }
    private void MoveLeft(){
        piece.MoveToLeft();
        grille.AddPiece(piece);
        Console.WriteLine("Je veux bouger ma pièce à Gauche");
    }
    private void Rotate(){
        piece.RotatePiece();
        grille.AddPiece(piece);
    }
}
