@page "/"

@inject NavigationManager NavigationManager 

<h1>Tetris en C#</h1>

Bienvenue sur le Jeu Tetris réalisé en C# ! 
<hr>

 <button @onclick="onClick">Play !</button> 
 <button @onclick="onClick2">Options</button> 
 <button @onclick="onClick3">Crédits</button> 



 
@code{ 
    public void onClick(){
        NavigationManager.NavigateTo("/game"); 

    }
    public void onClick2(){
        NavigationManager.NavigateTo("/options"); 

    }
    public void onClick3(){
        NavigationManager.NavigateTo("/credits"); 

    }

} 